@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Lexend', sans-serif;
}

body{
    background-image: url('images/bgwithtext.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 0.5s ease;
    margin: 0 !important;
}

.space {
    height: 100vh !important;
}

.customHeight {
    height: 50vh;
}

span.numCustom {
    text-align: left !important;
}